@model Cctic.Module.Cms.ViewModels.PageWithBreadCrumb
@addTagHelper *, Cctic.Infrastructure




<section class="page-header">
    <div class="container">



        <h1>@Model.Name</h1>

        <!-- breadcrumbs -->
        <ol class="breadcrumb">
            <li><a href="~/">Home</a></li>
            <li><span class="active">@Model.Name</span></li>
        </ol><!-- /breadcrumbs -->

    </div>
</section>
<!-- /PAGE HEADER -->


<div class="container">
    <div class="mt-40">
        <div>@Html.Raw(Model.Body)</div>
        <p><a href="https://www.facebook.com/sharer/sharer.php?u=cctic.ipb.pt/@Model.Url" target="_blank">
  Share on Facebook
</a></p>
    </div>

</div>

